@use "variables"as *;


// Pills filtros

.section-filtros {
@include flexCenter(column-reverse);
width: 100%;
margin: auto;
gap: 1.5rem;
/*
background: var(--bg-body);*/
        position: fixed;
        top: 8rem;

        .logo-big {
            @include flexCenter(column);

            img {
                width: 8rem;
            }
        }

        h2 {
            display: none;
        }

.pills-filtros {
    @include flexCenter(column);
                    gap: 1.5rem;

    .filtro {
        @include flexCenter(column);

        h3 {
            font-size: 1rem;
            color: var(--text-general);
        }

        .filtros-botones {
            @include flexCenter(row);
                    flex-wrap: wrap;
                    gap: 1rem;
        }
        
    }
}
}

.mis-favoritos {
    @include flexCenter(row);
    gap: 2rem;
    font-size: 2rem;
    text-decoration: none;
            font-weight: 400;
            margin-top: 15rem;

    i {
        color: $light-pink-light;
    }



    p {
        color: var(--text-general);
    }
}
.mis-favoritos:hover {
                font-weight: 700;

                i {
        transform: scale(1.2);
        transition: 0.25s;
                color: $light-pink;

                }

}

@media only screen and (min-width: 768px) {

    // HABILIDADES TABLET

}

@media only screen and (min-width: 1024px) {

    // Pills filtros
.section-filtros {
    @include flexCenter(row);
    gap: 1rem;

            h2 {
            display: block;
        }


.pills-filtros {
    @include flexCenter(column);
        align-items: flex-start;
            gap: 1rem;

    .filtro {
        gap: 24px;

        h3 {
            font-size: 1rem;
        }

        
    }
}

        .logo-big {

            img {
                width: 13rem;
            }
        }



}

.mis-favoritos {
    @include flexCenter(column);
    align-items: flex-start;
    gap: 2rem;
        align-items: flex-start;
        max-width: 1196.04px;
        margin: 19rem auto 0rem;

    p {
        font-size: 2rem;
    }

    i {
    font-size: 2rem;
    }

}
}