@use "variables"as *;

.modal-visible {
    display: block;
}

.modal-invisible {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); // Color oscuro semitransparente
    backdrop-filter: blur(4px); // Esto hace el efecto de "vidrio" (esmerilado)
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; // Para que tape hasta el header fixed que tenés
}

.modal {
    @include flexCenter(column);
    gap: 1rem;
    min-width: 19rem;
    max-width: 20rem;
    border-radius: 0.5rem;
    background-color: var(--blanco-negro);
    padding: 2rem 0rem;
    box-shadow: 0 10px 25px rgb(from var(--bg-black) r g b / 0.1) 0 20px 48px rgb(from var(--bg-black) r g b / 0.2);
    max-height: 30rem;
    overflow: hidden;

    .title {
        font-size: 1.35rem;
        font-weight: 700;
        color: var(--text-general);
    }

    form {

        div {
            @include flexCenter(column);
            align-items: flex-start;
            gap: 0.5rem;

            label {
                font-size: 1.1rem;
                color: var(--text-general);
                    padding-left: 0.35rem;
            }

        }

        .password {
            margin-top: 1rem;
        }

        input {
            padding: 0.75rem 1rem;
            border-radius: 5rem;
            min-width: 16rem;
        }

        .btn {
            border: none;
            width: 100%;
            margin-top: 2rem;
            padding: 0.65rem 1rem;
        }
    }

    .btn-close-general {
        position: absolute;
            transform: translate(7.5rem, -9rem);

        i {
            font-size: 2rem;
            color: var(--text-general);
        }
    }


}

.modal-container-sesion {
        .modal {
        padding: 2rem 2rem 2.5rem;
    }

    .mensaje-error {
        @include flexCenter(column);
    background-color: red;
    color: var(--text-general);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.1rem 0rem 0rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 0;
    height: 2.5rem;
}
}

.nav-tabs {
        width: 17rem;
    height: 54px;

    background-color: var(--blanco-negro);
    padding: 1rem;
    border-bottom: 2px solid var(--accent);
}
.nav-tabs-modal-mas-informacion {
    @include flexCenter(row);
    list-style: none;

    gap: 0.5rem;


    li a {
    color: var(--text-general);
    font-size: 1.025rem;
        text-decoration: none;
        font-weight: 700;
    }

    li {
        a.tab-active {
            border: 2px solid var(--accent);
            border-bottom: 2px solid var(--blanco-negro);
                border-top-right-radius: 0.75rem;
                border-top-left-radius: 0.75rem;
                padding: 0.75rem 0.75rem 1.02rem;
                z-index: 9999999;
                position: relative;
                background-color: var(--blanco-negro);
                transition: none;
        }
    }

    .nombre-tab-informacion,
    .nombre-tab-opiniones {
        padding: 0.75rem 0.75rem 1.02rem;
    }
    }


.modal-mas-informacion {



    .modal {
        justify-content: flex-start;
                    min-height: 30rem;
                    gap: 0;
                    padding-top: 1rem;

                    .title {
                        font-size: 1.25rem;
                    }
        
            .btn-close-general {
                transform: translate(8.5rem, 0rem);

                i {
                    font-size: 1.5rem;
                }
            }
    }


        .informacion, .opiniones {
        @include flexCenter(column);
        justify-content: flex-start; // Alinea el contenido arriba
        align-items: flex-start;
        width: 100%;
        height: 100%; 
        flex-grow: 1; // Obliga a ambos a llenar el modal por igual
        
        // ACÁ MANEJÁS EL MARGIN Y PADDING UNIFICADO
        padding: 1.5rem; 
        margin: 0; 
                color: var(--text-general);
                scrollbar-gutter: stable;

        }
    .informacion {
        gap: 0.5rem;


        .telefono {
            font-weight: 500;
            line-height: 3rem;
        }

        .direccion {
            font-weight: 300;
                padding-bottom: 0.75rem;
        }

        .ubicacion {
            width: 100%;
        }

        i {
            margin-right: 0.25rem;
            color: var(--accent);
        }
    }

    .opiniones {
        overflow: hidden;;

    .modal-body-opiniones {
        @include flexCenter(column);
        justify-content: flex-start;
        overflow-y: auto;
        flex-grow: 1;
        padding-right: 0.5rem;
        gap: 1rem;

        &::-webkit-scrollbar {
        width: 6px;
        background-color: var(--botones-bg);
    }
    &::-webkit-scrollbar-thumb {
        background: var(--accent);
        border-radius: 1rem;
    }

    .opinion {

        @include flexCenter(column);
        align-items: flex-start;
        gap: 0.25rem;

        .nombre-opinion {
                font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
        }

        i {
            font-size: 1.1rem;
            color: var(--accent);
        }
    }
    }
        }
}



@media only screen and (min-width: 768px) {

    .modal {
    max-width: 28rem;
    min-width: 28rem;

.title {
    font-size: 1.4rem;
}
    form {

        input {
            min-width: 20rem;
        }
    }

    .btn-close-general {
        transform: translate(11rem, -8.5rem);
    }


}

.modal-container-sesion {
        .modal {
        padding: 2rem 2rem 3rem;
    }
}

.modal-mas-informacion {
        max-width: 28rem;
    min-width: 28rem;

    .informacion {
        gap: 0.75rem;
            .telefono {
            line-height: 2rem;
    }

    .direccion {
            margin-top: 0cap;
    line-height: 1rem;
    padding-bottom: 0rem;
    }


    }

    .modal {
        padding: 2rem 1rem 2.5rem;
            .btn-close-general {
                transform: translate(11rem, -0.5rem);

                i {
                    font-size: 2rem;
                }
            }
    }


}

.nav-tabs {
        width: 23rem;
}

.nav-tabs-modal-mas-informacion {
gap: 2rem;
}

}