// VARIABLES

$is-fav: rgb(218, 72, 128);
$accent-light-theme: rgb(25, 104, 46);
$accent-dark-theme: rgb(18, 65, 31);
$light-green: rgb(55, 153, 81);

$white: rgb(255, 255, 255);
$black-light: rgba(18, 19, 24, 0.54);
$black-dark: rgb(15, 15, 15);
$black: rgb(0, 0, 0);
$black-dark-cards: rgb(20, 19, 29);
$light-green-light: rgb(100, 173, 120);


$transparent: rgba(0, 0, 0, 0);
$bg-dark: rgb(40, 40, 48);
$font-main: "Inter",
sans-serif;
$green-extra-light: rgb(184, 212, 191);

@mixin flexCenter ($direct) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direct;
}

// THEME LIGHT MODE

:root {

    // Body

    --bg-body: url('../img/bg-light-grey-5-ty.png') center/cover no-repeat scroll;

    // Header & Footer
    --bg-header: url('../img/header-theme-claro-ty.png') top no-repeat;
    --bg-header-footer: #{$accent-light-theme};
    --line: #{$white};
    --blanco-negro: #{$white};
    --bg-pills: #{rgba($white, 0.95)};
    // Variables generales theme mode

    --text-general: #{$black};

    --title-menu: #{$black};
    --font-general: #{$font-main};

    --botones-bg: #{$green-extra-light};
    --text-botones: #{$black};
    --heart: #{$light-green-light};

    --nombre-usuario: #{rgba($accent-light-theme, 0.45)};

    // Cards

    --bg-card: #{rgba($black, 0.1)};

    --bg-card-light: #{rgba($white, 0.8)};


    --title-card: #{$black};
    --bg-btn-hover: #{$light-green};

}


// THEME DARK MODE

[data-theme="dark"] {

    // Body

    --bg-body: #{$bg-dark};
    --blanco-negro: #{$black};

    // Header
    --bg-header: url('../img/header-theme-oscuro-ty.png') top no-repeat;
    --bg-header-footer: #{$accent-dark-theme};
    --line: #{$accent-light-theme};
    --text-botones: #{$black};
    --bg-pills: #{rgba($bg-dark, 0.9)};

    // Variables generales theme mode

    --text-general: #{$white};
    --accent: #{$light-green-light};
    --botones: #{$white};
    --botones-bg: #{$light-green-light};
    --btn-square: #{$black-dark-cards};



    --nombre-usuario: #{rgba($accent-light-theme, 0.6)};

    // Cards

    --bg-card: #{$black-dark-cards};
    --text-card: #{$accent-light-theme};
    --bg-card-light: #{$black-light};
    --bg-dark-pink: #{$black-dark};
    --border-card: #{$accent-light-theme};
    --title-card: #{$white};
    --title-menu: #{$accent-light-theme};
    --text-botones: #{$white};
    --bg-btn-hover: #{$accent-light-theme};
}